# Simple recommender with manual data

## 1. User Based Collaborative Filtering Example

In [ ]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

## 1.1 Random data for testing recommender system

In [2]:
data = pd.DataFrame(
    {
        "user_id": [1, 1, 1, 2, 2, 3, 3, 4],
        "movie_id": [101, 102, 103, 101, 104, 102, 105, 103],
        "rating": [5, 4, 3, 4, 5, 2, 3, 4],
    }
)

data

   user_id  movie_id  rating
0        1       101       5
1        1       102       4
2        1       103       3
3        2       101       4
4        2       104       5
5        3       102       2
6        3       105       3
7        4       103       4

## 1.2 Movie-item matrix creation and cosine similarity calculation

In [4]:
movie_item_matrix = data.pivot_table(
    index="user_id", columns="movie_id", values="rating", fill_value=0
)
movie_item_matrix

movie_id  101  102  103  104  105
user_id
1         5.0  4.0  3.0  0.0  0.0
2         4.0  0.0  0.0  5.0  0.0
3         0.0  2.0  0.0  0.0  3.0
4         0.0  0.0  4.0  0.0  0.0

## 1.3 Find similar users

In [5]:
user_cosine_sim = cosine_similarity(movie_item_matrix)
user_cosine_sim

array([[1.        , 0.4417261 , 0.31378582, 0.42426407],
       [0.4417261 , 1.        , 0.        , 0.        ],
       [0.31378582, 0.        , 1.        , 0.        ],
       [0.42426407, 0.        , 0.        , 1.        ]])

In [6]:
## find similar users for a target user

## got the index of target user in movie-item matrix
target_user_id = 1
target_idx = movie_item_matrix.index.get_loc(target_user_id)
print(f"Target user index: {target_idx}\n")

Target user index: 0

In [7]:
## find similar users
similarity_scores = user_cosine_sim[target_idx]
similar_users_indices = np.argsort(-similarity_scores)[
    1:4
]  # Exclude the target user itself
print("Similar users indices (in movie-item matrix):", similar_users_indices)

Similar users indices (in movie-item matrix): [1 3 2]

## 1.4 Generate Recommendations for Target User

In [8]:
## Part 4: Generate Recommendations for Target User
recommended_movies = set()
for sim_user_idx in similar_users_indices:
    sim_user_id = movie_item_matrix.index[sim_user_idx]
    sim_user_movies = data[data["user_id"] == sim_user_id]["movie_id"].tolist()
    target_user_movies = data[data["user_id"] == target_user_id]["movie_id"].tolist()
    for movie in sim_user_movies:
        if movie not in target_user_movies:
            recommended_movies.add(movie)
print("Recommended movies for target user:", recommended_movies)

Recommended movies for target user: {104, 105}